In [19]:
from selenium import webdriver
import pandas as pd

In [104]:
driver = webdriver.Chrome(executable_path='/Users/eric/Documents/Vanessa/chromedriver')
driver.get("https://fortune.com/100-fastest-growing-companies/2019/search/?country=U.S.")

In [105]:
companies_info = []

In [106]:
driver.switch_to.frame(driver.find_element_by_tag_name("iframe"))
close_popup = driver.find_element_by_class_name('close-desktop').click()
accept_cookies = driver.find_element_by_id('truste-consent-button').click()

In [107]:
headers = driver.find_elements_by_class_name('rt-resizable-header-content')
headers = [header.text.replace('REMOVE\n', '') for header in headers]

In [109]:
companies = driver.find_elements_by_class_name('rt-tr-group')
for company in companies:
    company_info = []
    columns = company.find_elements_by_class_name('rt-td')
    for col in columns:
        company_info.append(col.text)
    companies_info.append(company_info)
        
while driver.find_element_by_xpath('//div[@class="-next"]/button').is_enabled():
    driver.find_element_by_xpath('//div[@class="-next"]').click()
    companies = driver.find_elements_by_class_name('rt-tr-group')
    for company in companies:
        company_info = []
        columns = company.find_elements_by_class_name('rt-td')
        for col in columns:
            company_info.append(col.text)
        companies_info.append(company_info)
    
print('Finish')

Finish

In [110]:
df = pd.DataFrame(companies_info, columns = headers)
df.head()

,RANK,NAME,REVENUE PAST FOUR QUARTERS ($M),NET INCOME PAST FOUR QUARTERS ($M),"MARKET VALUE AS OF JUNE 28, 2019 ($M)",EPS 3 YR ANNUAL GROWTH RATE,REVENUE 3 YR ANNUAL GROWTH RATE,TOTAL RETURN 3 YR ANNUAL RATE
0,2,Texas Pacific Land Trust,$432,$306,"$6,104",95%,85%,68%
1,3,Micron Technology,"$29,985","$13,060","$42,596",173%,38%,41%
2,4,Corcept Therapeutics,$258,$76,"$1,281",295%,74%,27%
3,5,Netflix,"$16,614","$1,265","$160,600",129%,33%,59%
4,6,Paycom Software,$612,$143,"$13,265",80%,34%,74%

In [111]:
len(df)

87

In [112]:
df.to_csv('fortune-fast-growing.csv')